.clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;

    li{
        width: calc((100% - 2 * 30px) / 2);
        max-width: 210px;
        margin: 15px;  

    .clients-link{
        display: flex; 
        justify-content: center;
        align-items: center;   
        height: 90px;        
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
        fill: #AFB1B8; 
    
        transition: border-color 250ms $timing-function;
    
        &:hover,
        &:focus{
        border-color: $acent-color;
        }
        }   
    }
}

.clients-icon{
    fill: #AFB1B8;
    transition: fill 250ms $timing-function ;
}
.clients-link:hover, .clients-link:focus{
    border: 1px solid $acent-color;
}

.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
    fill: $acent-color;
}

@media screen and (min-width: 768px){
    .clients-list{
        .list{        
        width: calc((100% - 2 * 30px) / 3);
        }
                  
    }
}

@media screen and (min-width: 1200px){
    .our-clients{
        padding-top: 94px;
        padding-bottom: 94px;

        .list{        
            max-width: 170px;       
        }
    }
    .clients-list {
        flex-wrap: nowrap;
    }
}
